<h1>This is the show page</h1>
<h1><%= @student.to_s %></h1>
<p><%= @student.active %></p>

<% if @student.active == false%>
<%= "This student is currently inactive." %>
<% else %>
<%= "This student is currently active." %>
<% end %>
